<ul>
  <li><strong>Ad:</strong> <%= user.name %></li>
  <li><strong>Kullanıcı adı:</strong> <%= user.username %></li>
  <li><strong>Eposta:</strong> <%= user.email %></li>
  <li><strong>telefon:</strong> <%= user.phone.present? ? user.phone : 'bulunamadı' %></li>
  <li><strong>Website:</strong> <%= user.website.present? ? user.website : 'bulunamadı' %></li>
  <li><strong>Adres:</strong> <%= user.address.street %> sokağı, <%= user.address.suite %>
  <%= user.address.city %> <%= user.address.zipcode %></li>
  koordinatlar: <%= user.address.geo.lat %>,<%= user.address.geo.lng %>
  <li><strong>Şirket:</strong> <%= user.company.name %></li>
  <%= user.company.catchPhrase %><br/>
  <%= user.company.bs %>
</ul>