<div class="container mt-5">
  <%= render 'shared/search_form' %>

  <div class="row">
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="col-12 mb-3">
          <div class="card">
            <div class="row g-0 align-items-center">
              <div class="col-md-2 d-flex justify-content-center">
                <% if user.profile_photo_url.present? %>
                  <%= image_tag user.profile_photo_url, class: 'img-fluid rounded', alt: "#{user.username} profile photo" %>
                <% else %>
                  <%= image_tag 'default_profile_photo.png', class: 'img-fluid rounded', alt: "#{user.username} profile photo" %>
                <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= user.name %></h5>
                  <p class="card-text"><%= user.username %></p>
               </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <%= link_to 'Görüntüle', user, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Kullanıcı Bulunamadı!</p>
    <% end %>
  </div>
</div>
